:root {
    --error-clr: #e74c3c;
    --error-shadow: #ec3e2b27;
    --darkblue-clr: hsl(234, 29%, 20%);
    --darkgrey-clr: hsl(235, 18%, 26%);
    --lightgrey-clr: hsl(230, 12%, 81%);

    --ff-main: Roboto, sans-serif;
    --fs-bold: 700;
    --fs-regular: 500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/**********************************/
/************ GENERAL STYLES ******/
/**********************************/

.register.hidden,
.success.hidden {
    display: none;
}

.register.active,
.success.active {
    display: flex;
}

body {
    background-color:var(--darkblue-clr);
    color: var(--darkgrey-clr);
    display: grid;
    place-content: center;
    font-family: var(--ff-main);
    font-size: var(--fs-regular);
}

.register {
    background-color: white;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: var(--fs-bold);
}
.desc {
    max-width: 300px;
}

.register-text {
    display: grid;
    gap: 1rem;
    margin-inline: 1.5rem;
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    gap: 1rem;
    padding-bottom: .5rem;
    max-width: 300px;
    align-items: center;
}

.success {
    background-color: white;
    flex-direction: column;
    width: 400px;
    padding: 2rem 2.5rem;
    gap: 2rem;
    border-radius: 2rem;
}

.desc span {
    font-weight: var(--fs-bold);
}

/**********************************/
/*************** FORM STYLES ******/
/**********************************/

.label {
    font-weight: var(--fs-bold);
    font-size: .75rem;
}

.form {
    display: grid;
    gap: 1.25rem;
}

input {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: 2px solid rgba(146, 148, 160, 0.404);
}

input::placeholder {
    color: rgba(146, 148, 160);
    opacity: 1;
}

input:focus {
    outline: 2px solid var(--darkblue-clr);
}

button {
    padding: 1rem 1rem;
    background-color: var(--darkblue-clr);
    color: white;
    border-radius: .5rem;
    border: none;
    font-size: .85rem;
    font-weight: var(--fs-bold);
    letter-spacing: .7px;
    color: var(--lightgrey-clr);
}

button:hover,
button:focus {
    background: linear-gradient(hsl(4, 100%, 67%), hsla(320, 73%, 41%, 0.568));
    color: var(--darkblue-clr);
    cursor: pointer;
    transition: background-color 0.15s linear, color 0.15s linear;
}

input.error {
    border: 2px solid var(--error-clr);
    background-color: var(--error-shadow);
}

input.error::placeholder {
    color: var(--error-clr);
    opacity: 1;
}

input.error:focus {
    outline: 1px solid var(--darkblue-clr);
}

small {
    display: none;
}

small.error {
    display: inline;
    color: var(--error-clr);
    font-weight: var(--fs-bold);
    font-size: .75rem;
    /* margin-bottom: -80px; */
}

.flex-error {
    display: flex;
    justify-content: space-between;
    margin-bottom: -.75rem;
    margin-top: 1rem;
    align-items: center;
}

/**********************************/
/************ DESKTOP STYLES ******/
/**********************************/

@media (min-width: 800px) {
    body {
        height: 100vh;
    }
    .register {
        flex-direction: row-reverse;
        gap: 3rem;
        padding: 1.25rem;
        border-radius: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .register-text {
        place-content: center;
        gap: 1.15rem;
        width: 50%;
        margin: 0;
        padding: 1rem;
    }
    .desc, li {
        max-width: 380px;
    }  
    img {
        max-height: 500px;
    }
}
